<div class="about-content menu menu--adsila">
  <h1>About Me</h1>
  <h3 class="animate-reveal animate-first">Hi again!</h3>
  <p class="animate-reveal animate-first">I am Eugene Simpson, a 28 year old Passionate Creative Art Director, UI Designer and Researcher, living in the Garden City of India, 
  
  <a class="menu__item" target="_blank" id="bengaluru" href="https://www.lonelyplanet.com/india/bengaluru-bangalore">
  <span class="menu__item-name">Bengaluru.</span></a>

   With 5+ years of hand-on multidisciplinary Digital Creative Experience specializing in Visual Design, Art Direction, rich User Experiences and Strategies. I have an eye for detail and a passion for what I do. Currently working with awesome guys at <a class="menu__item" target="_blank" id="studio" href="https://moonraft.com"><span class="menu__item-name">Moonraft Innovation Labs.</span></a></p>
  
  <p class="animate-reveal animate-first">I basically believe in Minimalistic, clean approach and it is reflected in my Designs as well as my vector illustrations. I craft responsive experiences on desktop and mobile devices with an eye for exquisite design and lots of imagination, drawing inspiration from Music, Travel and Art.</p>
  
  <p class="animate-reveal animate-first">I do have a unique set of Belief's, I have a button if you are interested!</p>
  <!-- <button class="button button--winona button--border-thick button--round-l button--text-upper button--size-s button--text-thick" ng-click="goToPage('page-belief')" data-text="My Belief's"><span>My Belief's</span></button> -->
  <button class="button button--aylen button--round-l button--text-thick stroke" ng-click="goToPage('page-belief')">My Belief's</button>
</div>



