<div class="belief-content menu menu--adsila3">
	<h1>My Belief's</h1>
  	<h3>I'm a <br>

  	<a class="menu__item3" target="_blank" href="https://en.wikipedia.org/wiki/Seventh-day_Adventist_Church">
  	<span class="menu__item-name3">Seventh-Day Adventist.</span></a></h3>
  	<p>Seventh-Day Adventist is a bible based group who believe <u>Seventh-Day (Saturday) as Sabbath</u> and also who believe in the <u>Imminent return of our Lord and Saviour Jesus Christ (Adventists).</u>

  	<h3>I also have some links for you <br> 

  	<a class="menu__item3" target=:"blank" href="https://www.adventist.org/en/beliefs/">
  	<span class="menu__item-name3">Our Core Beliefs,</span></a> 
  	<a class="menu__item3" target=:"blank" href="https://www.adventist.org/en/vitality/health/">
  	<span class="menu__item-name3">Health Messages</span></a> and some <br> 
  	<a class="menu__item3" target=:"blank" href="https://www.amazingfacts.org/media-library/read/c/2/t/bible-study-guides#studymore">
  	<span class="menu__item-name3">Amazing Books</span></a></h3>
</div>
