

<div class="contact-content contact-new menu menu--adsila2">
	<h1 class="animated fadeInUp">Say Hello</h1>
	<p class="animated fadeInUp">You can reach me for an enquiry or just to say hi via<br>
	electronic mailing at 
	<a class="menu__item2 animated fadeInUp" href="mailto:eugene.simpson16@gmail.com"><span class="menu__item-name2">eugene.simpson16@gmail.com</a></p>

	<!-- <p>For more about me, I'm also on <br>
	<a href="#">Facebook</a> &
	<a href="#">Twitter</a> &
	<a href="#">LinkedIn</a> &
	<a href="#">Behance</a> &
	<a href="#">Materialup</a>
	</p> -->

	<p class="animated fadeInUp say-hi-p"> Discover my <a class="menu__item2" href="https://www.facebook.com/eugene.simpson.543" target="blank"><span class="menu__item-name2">Facebook</span></a> for daily updates<br> 
	Interesting and informative tweets on 

	<a class="menu__item2" href="https://twitter.com/eugenesimpson16" target="blank"><span class="menu__item-name2">Twitter</a><br>
	My Profesional Journey on 

	<a class="menu__item2" href="https://www.linkedin.com/in/eugene-simpson-58b32867" target="blank"><span class="menu__item-name2">LinkedIn</span></a><br> 
	My Obsession with Design on 
	
	<a class="menu__item2" href="https://www.behance.net/Eugene_simpson" target="blank"><span class="menu__item-name2">Behance</a> & 

	<a class="menu__item2" href="https://www.uplabs.com/eugenesimpson16" target="blank"><span class="menu__item-name2">Materialup</a><br>
	Pieces of life on 

	<a class="menu__item2" href="https://www.instagram.com/eugenesimpson16/?hl=en" target="blank"><span class="menu__item-name2">Instagram</a>
	</p>


</div>

<script type="text/javascript" scr="js/jquery.lazy.min.js">


	$('.lazyload').lazyload({
	threshold: 200,
	load: function(p) {},
	trigger: "appear"
	});
</script>