<div class="home-content">
  <h3 class="animated fadeInUp">Hello!</h3>
  <h1 class="animated fadeInUp">I’m Eugene Simpson</h1>
  <h2 class="animated fadeInUp">Art Director, UI designer and Researcher.</h2>
  <h4 class="animated fadeInUp">I Design</h4>
  <div class="describe-wrapper">
    <span class="is-visible">Branding Stuffs.</span>
    <span>User Experience.</span>
    <span>Cool Websites.</span>
    <span>Mobile Apps.</span>
  </div>
  <div class="box bg-1">
      <button class="button button--aylen button--round-l button--text-thick" ng-click="goToPage('page-about')">Know more</button>
  </div>
</div>

<img class="poster" ng-src="images/profile_2.png" alt="img01" />
