<div class="interests-content">
	<h1>My Interests</h1>

	<div class="interest-info">

		<div class="my_tools interest-row">
			<h3 class="interest-row-head">My Tools</h3>
			<section class="interest-row-value">
				<div class="hi-icon-wrap hi-icon-effect-8">
					<a class="hi-icon hi-icon-photoshop">Photoshop</a>
					<a class="hi-icon hi-icon-illustrator">Illustrator</a>
					<a class="hi-icon hi-icon-aftereffects">After Effects</a>
					<a class="hi-icon hi-icon-edgeanimate">Edge Animate</a>
				</div>
			</section>
		</div>

		<div class="web_lang interest-row">
			<h3 class="interest-row-head">Web Languages</h3>
			<section class="interest-row-value">
				<div class="hi-icon-wrap hi-icon-effect-8">
					<a class="hi-icon hi-icon-html">HTML</a>
					<a class="hi-icon hi-icon-css">CSS</a>
				</div>
			</section>
		</div>

		<div class="during_f_time interest-row">
			<h3 class="interest-row-head">During Free Time</h3>
			<section class="interest-row-value">
				<div class="hi-icon-wrap hi-icon-effect-8">
					<a class="hi-icon hi-icon-photography">Photography</a>
					<a class="hi-icon hi-icon-music">Music</a>
					<a class="hi-icon hi-icon-singing">Singing</a>
					<a class="hi-icon hi-icon-biking">Biking</a>
				</div>
			</section>
		</div>

		<!-- <div class="web_lang interest-row">
			<h3 class="interest-row-head">Web Languages</h3>
			<section class="interest-row-value">
				<div class="hi-icon-wrap hi-icon-effect-8">
					<a href="#set-8" class="hi-icon hi-icon-archive">Archive</a>
					<a href="#set-8" class="hi-icon hi-icon-chat">Chat</a>
					<a href="#set-8" class="hi-icon hi-icon-bookmark">Bookmarks</a>
					<a href="#set-8" class="hi-icon hi-icon-user">User</a>
					<a href="#set-8" class="hi-icon hi-icon-contract">Contact</a>
				</div>
			</section>
		</div>

		<div class="during_f_time interest-row">
			<h3 class="interest-row-head">During Free Time</h3>
			<section class="interest-row-value">
				<div class="hi-icon-wrap hi-icon-effect-8">
					<a href="#set-8" class="hi-icon hi-icon-archive">Archive</a>
					<a href="#set-8" class="hi-icon hi-icon-chat">Chat</a>
					<a href="#set-8" class="hi-icon hi-icon-bookmark">Bookmarks</a>
					<a href="#set-8" class="hi-icon hi-icon-user">User</a>
					<a href="#set-8" class="hi-icon hi-icon-contract">Contact</a>
				</div>
			</section>
		</div> -->

	</div>

</div>
