<div class="projmain">
    <div class="container">
        <header class="bp-header cf">
            <span> <!--<span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span> --></span>
            <h1>Projects</h1>
        </header>
        <!-- Grid -->
        <section class="slider">
            <div class="slide slide--current" data-content="content-1">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <img class="zoomer__image" src="images/iphone_3.png" alt="iPhone" />
                        <div class="preview left-p">
                            <img src="images/awr-iphone-preview.jpg" alt="iPhone app preview" />
                            <div class="zoomer__area zoomer__area--size-2"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>Adventist World Radio (AWR)</span> Hybrid Mobile Application</h2>
            </div>
            <div class="slide" data-content="content-2">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <img class="zoomer__image" src="images/macbook_2.png" alt="MacBook" />
                        <div class="preview left-mac">
                            <img src="images/beachglam-macbook-preview.jpg" alt="MacBook app preview" />
                            <div class="zoomer__area zoomer__area--size-3"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>Beachglam</span>E-Commerce Website</h2>
            </div>
            <div class="slide" data-content="content-3">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <img class="zoomer__image" src="images/imac_2.png" alt="iMac" />
                        <div class="preview top-p-a">
                            <img src="images/sennheiser-imac-preview.jpg" alt="iMac app preview" />
                            <div class="zoomer__area zoomer__area--size-5 "></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>Sennheiser</span>Landing Page</h2>
            </div>
            <div class="slide" data-content="content-4">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <img class="zoomer__image" src="images/iphone_2.png" alt="iPhone" />
                        <div class="preview nexus">
                            <img src="images/niseva-iphone-preview_1.jpg" alt="iPhone app preview" />
                            <div class="zoomer__area zoomer__area--size-4"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>Niseva</span>Android Mobile Application</h2>
            </div>
            <div class="slide" data-content="content-5">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <img class="zoomer__image" src="images/macbook_2.png" alt="MacBook" />
                        <div class="preview left-mac">
                            <img src="images/capgemini-macbook-preview.jpg" alt="MacBook app preview" />
                            <div class="zoomer__area zoomer__area--size-1"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>APM Capgemini</span>Web Application</h2>
            </div>
            <div class="slide" data-content="content-6">
                <div class="slide__mover">
                    <div class="zoomer flex-center">
                        <img class="zoomer__image" src="images/imac_2.png" alt="iMac" />
                        <div class="preview top-p-a">
                            <img src="images/pears-imac-preview-2.jpg" alt="iMac app preview" />
                            <div class="zoomer__area zoomer__area--size-5"></div>
                        </div>
                    </div>
                </div>
                <h2 class="slide__title"><span>Pears Soap</span>Single Page E-commerce Website</h2>
            </div>
            <nav class="slider__nav flex-center">
                <button class="proj--button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
                <button class="proj--button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
                <button class="proj--button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
            </nav>
        </section>
        <!-- /slider-->
        <section class="content">
            <div class="content__item" id="content-1">
                <img class="content__item-img rounded-right" src="images/awr-iphone-content.jpg" alt="iPhone Content" />
                <div class="content__item-inner">
                    <h2>Adventist World Radio (AWR)</h2>
                    <h3>Hybrid Mobile Application</h3>
                    <p>AWR is a non-profit Radio Broadcast firm, broadcasting programs in many languages. The programs comprise of uplifting messages of hope, health insights and stories for little children. This project involved in Revamping their existing Mobile and branding, with a new and refreshing UI and UX, with a view to reach variety of users across the globe.</p>
                    <p><a href="https://www.behance.net/gallery/31513071/Voice-of-Hope" target="blank">Check it out on Behance &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-2">
                <img class="content__item-img rounded-right" src="images/beachglam-macbook-content.jpg" alt="MacBook Content" />
                <div class="content__item-inner">
                    <h2>Beachglam</h2>
                    <h3>E-Commerce Website</h3>
                    <p>The Project was to create Responsive E-Commerce Website selling Beachwear Bundles. Worked on creating the visual designs. Have also created detailed style guide which would be a handy guide for Interactive developers.</p>
                    <p><a href="https://www.behance.net/gallery/25809769/Beach-Glam" target="blank">Check it out on Behance &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-3">
                <img class="content__item-img rounded-right" src="images/sennheiser-imac-content.jpg" alt="iMac Content" />
                <div class="content__item-inner">
                    <h2>Sennheiser</h2>
                    <h3>Landing Page</h3>
                    <p>The project was to create Visual Designs for one of the campaign of Sennheiser in the form of a landing page. The visitors are split in two, CASH-BACK & TRADE-IN, so they can send their old product to a Sennheiser location and get money back.</p>
                    <p><a href="https://www.behance.net/gallery/51042131/Sennheiser-Landing-Page" target="blank">Check it out on Behance &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-4">
                <img class="content__item-img rounded-right" src="images/niseva-iphone-content.jpg" alt="iPhone Content" />
                <div class="content__item-inner">
                    <h2>Niseva</h2>
                    <h3>Android Mobile Application</h3>
                    <p>This project involved in creating UI and UX for a Hybrid Mobile Application. Niseva is first Indian mobile app that provides 100% free online platform for all small & individual service providers, to conduct business online, in major Indian languages with consistent UI experience across all.</p>
                    <p><a href="https://www.behance.net/gallery/51041855/Niseva-Android-Mobile-Application" target="blank">Check it out on Behance &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-5">
                <img class="content__item-img rounded-right" src="images/capgemini-macbook-content.jpg" alt="MacBook Content" />
                <div class="content__item-inner">
                    <h2>APM Capgemini</h2>
                    <h3>Web Application</h3>
                    <p>Client was looking to redesign their existing internal Application APM to make better employee experience. Played an important role in creating clean and effective UI solutions for their applications</p>
                    <p><a href="https://www.behance.net/gallery/25879103/APM-Application" target="blank">Check it out on Behance &xrarr;</a></p>
                </div>
            </div>
            <div class="content__item" id="content-6">
                <img class="content__item-img rounded-right" src="images/pears-imac-content.jpg" alt="iMac Content" />
                <div class="content__item-inner">
                    <h2>Pears Soap</h2>
                    <h3>Single page E-commerce website</h3>
                    <p>Worked on a Pitch for providing E-Commerce Solution for a famous and the very first transparent soap brand Pears. Created a single page layout with a minimal and very simple UI and UX, featuring its varied products and an easy checkout process.</p>
                    <p class="move-forwd"><a href="https://www.behance.net/gallery/50439059/Pears-Website-Re-design" target="blank">Check it out on Behance<span id="me"> &xrarr;</span></a></p>
                </div>
            </div>
            <button class="proj--button button--close"><i class="icon icon--circle-cross"></i><span class="text-hidden">Close content</span></button>
        </section>
    </div>
</div>
